<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Signup </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
        rel="stylesheet"
        type='text/css'
    >
    <link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alert.css')}}">

</head>

<body>
    <div id="toast-alert" class="toast">
        This is a side-to-side alert!
    </div>

    <div class="login-wrapper">
        <div><a href="/" title="Logo">
            <img class="logo" src="{{url_for('static', filename='Assets/login/logo.png')}}" srcset="" alt="Logo">
        </a>
        <h2 style="position: absolute;top: 1.5rem; left: 4.5rem;">SCANCLE</h2></div>
        
        <div class="login-side">
            
            <form class="my-form" style="max-width: 30rem;" method="POST">
                {{ form.hidden_tag() }}  <!-- CSRF token -->

                <div class="login-welcome-row">
                    <h1>Create your account &#x1F44F;</h1>
                </div>
                <div class="socials-row">
                    <a href="#" title="Use Google">
                        <img src="{{url_for('static', filename='Assets/login/google.png')}}" srcset=""  alt="Google">
                        Sign up with Google
                    </a>
                    <a href="#" title="Use Apple">
                        <img src="{{url_for('static', filename='Assets/login/apple.png')}}" alt="Apple">
                        Sign up with Apple
                    </a>
                </div>
                <div class="divider">
                    <span class="divider-line"></span>
                    Or
                    <span class="divider-line"></span>
                </div>
                <div class="text-field">
                    <label for="username">Username:
                        <input type="text" id="username" name="username" autocomplete="off" placeholder="Your Username" maxlength="20"
                            required>
                    </label>
                </div>
                <div class="text-field">
                    <label for="email">Email:
                        <input type="email" id="email" name="email" autocomplete="off" placeholder="Your Email"
                            required>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                            <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"></path>
                        </svg>
                    </label>
                </div>
                <div class="text-field">
                    <label for="password">Password:
                        <input id="password" type="password" name="password" placeholder="Your Password"                 title="Minimum 6 characters at least 1 Alphabet, 1 Number and 1 Symbol"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{6,}$" required>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z">
                            </path>
                            <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                            <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
                        </svg>
                    </label>
                </div>
                <div class="text-field">
                    <label for="confirm_password">Repeat Password:
                        <input id="confirm_password" type="password" name="confirm_password" placeholder="Repeat Password"
                                            title="Minimum 8 characters at least 1 Alphabet, 1 Number and 1 Symbol"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{8,}$"required>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z">
                            </path>
                            <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                            <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
                        </svg>
                    </label>
                </div>

                <button class="my-form__button" type="submit" name="submit" value="Register">
                    Sign up
                </button>
                <div class="my-form__actions">
                    <div class="my-form__row">
                        <span>Did you forget your password?</span>
                        <a href="#" title="Reset Password">
                            Reset Password
                        </a>
                    </div>
                    <div class="my-form__signup">
                        <a href="/login" title="Login">
                            Login
                        </a>
                    </div>
                </div>
            </form>
        </div>




        <div class="info-side">
            <img src="{{url_for('static', filename='Assets/login/mock.png')}}" alt="Mock" class="mockup">
            <div class="welcome-message">
                <h2>SCANCLE</h2>
                <p style="margin-left: 1rem;">
                  ONLINE NETWORK SCANING
                  IS NOW <p style="margin-left: 9rem ; color: red;">SIMPLE</p> .
                </p>    
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/signup.js')}}"></script>
</body>

</html>